.margin-bottom {
    margin-bottom: 0.8em;
}

.table tbody > tr > td {
    vertical-align: middle;
}

header {
    padding: 0.5em;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.70);
    z-index: 999;
}

.title {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

#info-user {
    position: absolute;
    z-index: 100;
    top: 5em;
    right: 0.5em;
    min-width: 300px;
}

/**************************
 *
 *  Drag and drop fields
 *
 **************************/
.groups-dnd, .fields-dnd {
    margin: 0;
    padding: 3px;
    border: 1px #eee solid;
    border-radius: 5px;
}

.groups-dnd li, .fields-dnd li {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #eee;
    color: #2a6496;
    cursor: move;
    list-style: none;
    margin-bottom: 5px;
}

.groups-dnd li:last-child, .fields-dnd li:last-child {
    margin-bottom: 0;
}



/**************************
 *
 *  Loading : http://cssload.net/#sthash.UtdKSuLB.dpuf
 *
 **************************/
.floatingCirclesG{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-125px;
    margin-left:-125px;
    width:250px;
    height:250px;
    -webkit-transform:scale(0.6);
       -moz-transform:scale(0.6);
        -ms-transform:scale(0.6);
         -o-transform:scale(0.6);
            transform:scale(0.6);
}

.f_circleG{
    position:absolute;
    background-color:#FFFFFF;
    height:45px;
    width:45px;
    -moz-border-radius:23px;
    -moz-animation-name:f_fadeG;
    -moz-animation-duration:1.04s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-border-radius:23px;
    -webkit-animation-name:f_fadeG;
    -webkit-animation-duration:1.04s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -o-border-radius:23px;
    -o-animation-name:f_fadeG;
    -o-animation-duration:1.04s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -ms-border-radius:23px;
    -ms-animation-name:f_fadeG;
    -ms-animation-duration:1.04s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    border-radius:23px;
    animation-name:f_fadeG;
    animation-duration:1.04s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

#frotateG_01{
    left:0;
    top:102px;
    -moz-animation-delay:0.39s;
    -webkit-animation-delay:0.39s;
    -o-animation-delay:0.39s;
    -ms-animation-delay:0.39s;
    animation-delay:0.39s;
}

#frotateG_02{
    left:30px;
    top:30px;
    -moz-animation-delay:0.52s;
    -webkit-animation-delay:0.52s;
    -o-animation-delay:0.52s;
    -ms-animation-delay:0.52s;
    animation-delay:0.52s;
}

#frotateG_03{
    left:102px;
    top:0;
    -moz-animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
    -o-animation-delay:0.65s;
    -ms-animation-delay:0.65s;
    animation-delay:0.65s;
}

#frotateG_04{
    right:30px;
    top:30px;
    -moz-animation-delay:0.78s;
    -webkit-animation-delay:0.78s;
    -o-animation-delay:0.78s;
    -ms-animation-delay:0.78s;
    animation-delay:0.78s;
}

#frotateG_05{
    right:0;
    top:102px;
    -moz-animation-delay:0.91s;
    -webkit-animation-delay:0.91s;
    -o-animation-delay:0.91s;
    -ms-animation-delay:0.91s;
    animation-delay:0.91s;
}

#frotateG_06{
    right:30px;
    bottom:30px;
    -moz-animation-delay:1.04s;
    -webkit-animation-delay:1.04s;
    -o-animation-delay:1.04s;
    -ms-animation-delay:1.04s;
    animation-delay:1.04s;
}

#frotateG_07{
    left:102px;
    bottom:0;
    -moz-animation-delay:1.17s;
    -webkit-animation-delay:1.17s;
    -o-animation-delay:1.17s;
    -ms-animation-delay:1.17s;
    animation-delay:1.17s;
}

#frotateG_08{
    left:30px;
    bottom:30px;
    -moz-animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
    -o-animation-delay:1.3s;
    -ms-animation-delay:1.3s;
    animation-delay:1.3s;
}

@-moz-keyframes f_fadeG{
    0%{
    background-color:#000000}

    100%{
    background-color:#FFFFFF}

}

@-webkit-keyframes f_fadeG{
    0%{
    background-color:#000000}

    100%{
    background-color:#FFFFFF}

}

@-o-keyframes f_fadeG{
    0%{
    background-color:#000000}

    100%{
    background-color:#FFFFFF}

}

@-ms-keyframes f_fadeG{
    0%{
    background-color:#000000}

    100%{
    background-color:#FFFFFF}

}

@keyframes f_fadeG{
    0%{
    background-color:#000000}

    100%{
    background-color:#FFFFFF}

}